body{
	font-family:Arial;
	font-size:12px;
	margin:0;
}
.general-logo{
	width:180px;
	padding-top:30px;
}
.general-logo img{
	width:180px;
}
.ct{
	width:960px;
	margin:0 auto;
}
.mainheader{
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:90px;
	padding-top:10px;
	background:white;
}
.mainnav{
	margin-top:100px;
}
.mainnav .ct>ul{
	display:flex;
	padding:0;
	list-style-type: none;
}
.mainnav  .ct>ul>li{
}
.mainnav a{
	display:block;
	line-height:20px;
	text-transform: uppercase;
	text-decoration:none;
	color:#555;
	padding:0 10px;
}
.mainnav a:hover{
	color:#000;
}
.content{
	margin-top:50px;
}
h1{
	padding-bottom:10px;
	border-bottom:solid 1px #000000;
	margin-bottom:30px;
}
.team-players{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.team-player{
	border:solid 1px #ccc;
	border-top: solid 3px #000;
	margin:10px 0;
	width:220px;
	margin:10px 0;
}
.team-player img{
}
.team-player-infos{
	display:flex;
}
.team-player-number{
	width:60px;
	line-height:60px;
	text-align:center;
	font-size:30px;
	font-weight:bold;
	border-right:solid 1px #ccc;
}
.team-player-name{
	flex:1;
	padding-left:10px;
	font-weight:normal;
}
.team-player-name h2{
	margin:15px 0 0 0;
	text-transform:uppercase;
	font-size:12px;
}
.mainfooter{
	padding-top:50px;
	border-top:#ccc;
	background:#eee;
	height:200px;
}

.blog-teaser{
	border-top:solid 2px #000;
	margin:20px 0 30px 0;
	display:flex;
}
.blog-teaser h2{
	margin-top:0;
}
.blog-teaser-image{
	width:350px;
	height:180px;
}
.blog-teaser-image img{
	width:350px;
	height:180px;
}
.blog-teaser-content{
	flex:1;
	padding:20px;
}
#block-views-block-slider-block-1 ul{
	list-style-type: none;
	padding:0;
}