<article class="team-player">
	<div class="team-player-image">
		{{ content.field_image }}
	</div>
	<div class="team-player-infos">
		<div class="team-player-number">
			{{ node.field_number.value }}
		</div>
		<div class="team-player-name">
			<h2>{{ node.title.value }}</h2>
			<span class="team-player-position">{{ node.field_position.value }}</span>
		</div>
	</div>
</article>