<article class="blog-teaser">
	<div class="blog-teaser-image">
		{{ content.field_image }}
	</div>
	<div class="blog-teaser-content">
		<h2>{{ node.title.value }}</h2>
		{{ content.body }}
	</div>
</article>